h1, h2, span{
	color: red
}
div p {
	font-weight: 600;
}
ul li>span {
	font-weight: 600;
}
ol li + li {
	list-style: none;
}
h3 ~ h4 {
color: aqua;
}
.block {
    width: 200px;
    height: 200px;
    margin: 20px;}
#block1 {
    background-color: lime;
  }
#block2 {
    border-radius: 100px;
  background-color:aqua ;
  }
.block_border {
    border: 4px solid blue;
 background-color: aqua;
  }
